/* // 重置默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // 文字溢出省略号 */
.text-ellipsis-2 {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

 :root{
  /* 顶部导航栏 */
  --van-nav-bar-height: 50px;
  --van-nav-bar-arrow-size: 28px;
  --van-nav-bar-title-font-size: 24px;
  .van-nav-bar__text{
    font-size: 24px;
  }

/* 搜索框 */
  .van-search__content {
  background-color: #fff;
  border: 1px solid #000;
}

/* toastq轻提示 */
.mytoast {
  font-size: 18px;
  background-color: rgba(64, 64, 64, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

 }
 /* toast提示
.mytoast .van-toast-content{
  font-size: 18px;
  background-color: #000;
  color: #fff;
} */
